.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header__container {
  background-color: #343940;
  .navbar {
    a {
      color: #fff;
    }
    .collapse {
      a {
        color: #9e9e9e;
      }
    }
  }
}

.movie__container {
  padding: 20px;
  .page__title {
    margin: 0 0 20px 20px;
  }
  .slick-slider {
    margin: 30px 0;
    .slick-prev:before, .slick-next:before {
      color: #000 !important;
    }
  }
}

.movie__info__container {
  .movie__banner {
    min-height: 50vh;
    background-size: cover;
    background-position: 50%;
  }
  .movie__info {
    padding: 50px 0;
    .row {
      margin: 0;
      .movie__card__details {
        padding: 10px;
        background-color: #efefef;
        .movie__card__row {
          padding: 10px;
          display: flex;
          strong {
            min-width: 90px;
            font-size: 1.2rem;
            margin-right: 15px;
          }
        }
      }
    }
  }
}
.explore__container {
  margin: 50px 0;
  .search__results {
    margin-top: 20px;
    .results {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .alert-info {
        width: 100%;
      }
    }
  }
}

.movie__wrapper {
  width: 25%;
  padding: 5px;
  .movie__inner {
    padding: 10px;
    border: 1px solid #efefef;
    .movie__image {
      img {
        max-width: 100%;
      }
    }
    .movie__name {
      padding: 10px 0;
    }
    .movie__ratings {
      display: flex;
      justify-content: space-between;
    }
  }
}